@import "../../styles/mixins.scss";
@import "../../styles/typography.scss";
@import "../../styles/colors.scss";

.root {
  @include max-width();
  display: grid;
  grid-template-columns: 1fr 1fr;

  .placeholder {
    align-self: center;
    @include heading-h2();
    color: $color-secondary-blue;
  }

  .campaign-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px);
  }
}
