$color-primary-dark-teal: #006e74;
$color-primary-light-teal: #0097ab;
$color-primary-soft-black: #1c242c;
$color-primary-white: #ffffff;
$color-primary-black: #000000;
$color-secondary-purple: #881e87;
$color-primary-green: #01b27c;
$color-secondary-dark-sand: #0097ac;
$color-secondary-orange: #fc6a59;
$color-secondary-dark-grey: #7a7480;
$color-secondary-petrol: #003c51;
$color-secondary-blue: #2eaabb;
$color-error-red: #ec0000;
$color-light-blue: #5f9ea0;
$color-brown-background: #616467;
