@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.root {
  @include max-width();
  box-sizing: border-box;
  padding: 100px;
  display: flex;
  justify-content: center;

  form {
    width: 65%;

    .form-sub-header {
      text-align: left;
      margin: 20px 0;
    }
  }
  input,
  textarea {
    @include base-text-input();
  }
}
